[data-theme="dark"] {
  --color-primary: theme("colors.gray.50");
  --color-secondary: theme("colors.gray.200");
  --color-text: theme("colors.gray.50");
  --color-text-offset: theme("colors.gray.400");
  --color-background: #000000;
  --color-background-offset: #0b0b0b;
  --color-border: theme("colors.gray.50" / 10%);
}
